#todo_index
  %h1 TODOs

  %h2 Add new TODO
  - if @todo.errors.present?
    .errors
      %h3 Errors occoured
      %ul
        - @todo.errors.full_messages.each do |msg|
          %li
            = msg
  = form_for(@todo) do |f|
    = f.text_field :note_with_meta
    = f.submit

  %h2 Your TODOs

  %ul.todos
    - @todos.each do |todo|
      %li.todo
        = form_for(todo, remote: true) do |f|
          = f.check_box :done, class: 'autosubmit'
          = f.label     :done, todo.note
          %br/
          Due: #{todo.due_at}
          %br/
          Available: #{todo.available_at}
          %br/
          Tags: #{todo.tags.try { |tags| tags.join(", ") }}

  -# If the project gets more than one view for logged in and one for logged out
  -# users, we should move this to the layout..
  = button_to "Logout", session_path, method: :delete, class: 'auth_button'
